H1 {
    color: red;
    font-family: "Colonna MT";
}

H3{
    color: darkblue;
    font-family : "Colonna MT"
}
H2{
    color: darkblue;
    font-family : "Colonna MT"
}
body{

    background-color: beige;

}
body{
    font-family: "Colonna MT";
}
